{% extends "layouts/default.njk" %}

{% set title =  i18n.extension_already_submitted_title %}

{% block main_content %}
   <h1 class="govuk-heading-l">{{ i18n.extension_already_submitted_title }}</h1>

   <h2 class="govuk-heading-m">{{ i18n.extension_already_submitted_subtitle }}</h2>
   <p class="govuk-body">{{ i18n.extension_already_submitted_links_info }}</p>
   <ul class="govuk-list govuk-list--bullet">
        <li><a href="{{ differentPscInCompanyUrl }}" data-event-id="another-PSC-of-this-company-link" class="govuk-link">{{i18n.extension_confirmation_link_2}} {{ companyName }}</a></li>
        <li><a href="{{ companyLookupUrl }}" data-event-id="PSC-of-different-company-link" class="govuk-link">{{i18n.extension_confirmation_link_1}}</a></li>
    </ul>

{% endblock %}