{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title =  i18n.reason_for_extension_title %}
{% block main_content %}
    <form action="" method="post">
        {# TODO: Add PSC and company details #}
        <span class="govuk-caption-l">[PSC Name] ({{ i18n.reason_for_extension_born_caption }} [PSC DOB])</span>

            {% set radioButtonConfig = {
                name: "whyDoYouNeedAnExtension",
                values: whyDoYouNeedAnExtension,
                fieldset: {
                    legend: {
                        text: i18n.reason_for_extension_title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: i18n.reason_for_extension_hint
                },
                items: [
                        {
                            value: "reason_for_extension_1",
                            text: i18n.reason_for_extension_1,
                            attributes: {
                                    "data-event-id": "documents-not-arrived-option"
                            }
                        },
                        {
                            value: "reason_for_extension_2",
                            text: i18n.reason_for_extension_2,
                            attributes: {
                                    "data-event-id": "arranged-to-verify-at-post-office-option"
                            }
                        },
                        {
                            value: "reason_for_extension_3",
                            text: i18n.reason_for_extension_3,
                            attributes: {
                                    "data-event-id": "medical-treatment-option"
                            }
                        },
                        {
                            value: "reason_for_extension_4",
                            text: i18n.reason_for_extension_4,
                            attributes: {
                                    "data-event-id": "unable-without-support-option"
                            }
                        },
                        {
                            value: "reason_for_extension_5",
                            text: i18n.reason_for_extension_5,
                            attributes: {
                                    "data-event-id": "technical-issues-option"
                            }
                        },
                        {
                            value: "reason_for_extension_6",
                            text: i18n.reason_for_extension_6,
                            attributes: {
                                    "data-event-id": "pcs-details-wrong-option"
                            }
                        }
                ]
            } %}
                  {% if errors is not undefined and errors is not null and errors | length %}
                     {{ govukRadios({
                         name: radioButtonConfig.name,
                         values: radioButtonConfig.values,
                         fieldset: radioButtonConfig.fieldset,
                         items: radioButtonConfig.items,
                         errorMessage: {
                             text: i18n.reason_for_extension_error_message
                         }
                     }) }}
                  {% else %}
                     {{ govukRadios(radioButtonConfig) }}
                  {% endif %}
             {{ govukButton({
                text: i18n.submit_request,
                href: "/persons-with-significant-control-extension/extension-confirmation" + "?lang=" +lang,
                "data-event-id": "submit-request-button"
             }) }}
    </form>

{% endblock %}
