{% extends "layouts/default.njk" %}

{% set title =  i18n.extension_refused_title %}

{% block main_content %}
   <span class="govuk-caption-l">{{pscName}} ({{ i18n.extension_refused_born_caption }} {{dateOfBirth}})</span>
   <h1 class="govuk-heading-l">{{ i18n.extension_refused_title }}</h1>
   
   <h2 class="govuk-heading-m">{{ i18n.extension_refused_sub_heading_1 }}</h2>
   <p class="govuk-body">{{ i18n.extension_refused_body_text_1 }}</p>
   <p class="govuk-body">
      <a data-event-id="guidance-on-verifying-identity-link" href={{ i18n.extension_refused_guidance_link }}>{{ i18n.extension_refused_guidance_link_text }}</a>
   </p>
 
   <h2 class="govuk-heading-m">{{ i18n.extension_refused_sub_heading_2 }}</h2>
   <p class="govuk-body">{{ i18n.extension_refused_body_text_2 }}
      <a data-event-id="request-third-extension-link" href="https://submit.forms.service.gov.uk/form/262187/request-to-extend-the-identity-verification-deadline-for-a-psc/4GWbjwfm">{{ i18n.extension_refused_online_form_link }}</a>.
   </p>
  
{% endblock %}