{% extends "layouts/default.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set panel %}
<div>
  {{i18n.extension_confirmation_deadline_html}}
</div>
<strong>
[Extension date]
</strong>
{% endset %}

{% block main_content %}
  {{ govukPanel({
  titleText: i18n.extension_confirmation_title,
  html: panel
}) }}
 {# TODO: Add PSC and company details and add reference number when implemented #}
    {{ govukSummaryList({
  rows: [
    {
      key: {
        text: i18n.extension_confirmation_company_name
      },
      value: {
        text: "[Company name]"
      }
    },
    {
      key: {
        text: i18n.extension_confirmation_company_number
      },
      value: {
        text: "[Company number]"
      }
    },
    {
      key: {
        text: i18n.extension_confirmation_psc_name
      },
      value: {
        text: "[PSC name]"
      }
    },
    {
      key: {
        text: i18n.extension_confirmation_reference_number
      },
      value: {
        text: '[Reference number]'
      }
    }
  ]
}) }}
  
  <p class = "govuk-body">{{i18n.extension_confirmation_first_info}}</p>
      <p class="govuk-body">{{i18n.extension_confirmation_second_info_line1}} <strong>{{userEmailAddress}}</strong>
        {{i18n.extension_confirmation_second_info_line2}}</p> 

      <h2 class="govuk-heading-m">{{i18n.extension_confirmation_another_extension_title}}</h2>  

      <p class="govuk-body">{{i18n.extension_confirmation_another_extension_info}}</p>

      <h2 class="govuk-heading-m">{{i18n.extension_confirmation_links_title}}</h2>
      <p class="govuk-body">{{i18n.extension_confirmation_links_info}}</p>
<ul class="govuk-list govuk-list--bullet">
 {# TODO: Update link to direct to individual psc list with provided company number #}
  <li><a href="/persons-with-significant-control-verification/confirm-company" class="govuk-link">{{i18n.extension_confirmation_link_2}}</a>.</li>
   <li><a href="/persons-with-significant-control-verification/company-number" class="govuk-link">{{i18n.extension_confirmation_link_1}}</a>.</li>
</ul>

{% endblock %}