{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title =  i18n.extension_already_submitted_title %}

{% block main_content %}
  {# TODO: Add PSC and company details #}
   <h1 class="govuk-heading-l">{{ i18n.extension_already_submitted_title }}</h1>

   <h2 class="govuk-heading-m">{{ i18n.extension_already_submitted_subtitle }}</h2>
   <p class="govuk-body">{{ i18n.extension_already_submitted_links_info }}</p>
<ul class="govuk-list govuk-list--bullet">
 {# TODO: Update link to direct to individual psc list with provided company number #}
  <li><a href="/persons-with-significant-control-verification/confirm-company" class="govuk-link">{{i18n.extension_confirmation_link_1}}</a>.</li>
  <li><a href="/persons-with-significant-control-verification/company-number" class="govuk-link">{{i18n.extension_confirmation_link_2}}</a>.</li>
</ul>

{% endblock %}