{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  homepageUrl: "/"
}) }}
{{ govukServiceNavigation({
  serviceName: i18n.service_name
}) }}
