{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set phaseBannerContent %}
  {{ i18n.phase_banner_new_service }}<a class="govuk-link" href="https://www.smartsurvey.co.uk/s/reptpscdisp-fdbk/">{{ i18n.phase_banner_feedback_link }}</a>{{ i18n.phase_banner_help_improve }}
{% endset %}
  
{{ govukPhaseBanner({
  tag: {
    text: i18n.phase_banner_tag
  },
  html: phaseBannerContent
}) }}