{% extends "layouts/default.njk" %}

{% set title =  i18n.extension_refused_title %}

{% block main_content %}
   <span class="govuk-caption-l">{{pscName}} ({{ i18n.extension_refused_born_caption }} {{dateOfBirth}})</span>
   <h1 class="govuk-heading-l">{{ i18n.extension_refused_title }}</h1>
   
   <p class="govuk-body">{{ i18n.extension_refused_paragraph_one}}</p>
   
   <p class="govuk-body">{{ i18n.extension_refused_paragraph_two}}</p>
 
     <p class="govuk-body">
      {{i18n.extension_refused_guidance_link_preface}}.
      <a data-event-id="guidance-on-verifying-identity-link" href={{ i18n.extension_refused_guidance_link }}>{{ i18n.extension_refused_guidance_link_text }}</a>
   </p>

 {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

 {{ govukWarningText({
   text: i18n.extension_refused_warning_text,
   iconFallbackText: "Warning"
 })}}
 
  <script nonce={{ nonce | dump | safe }}>
      window._paq = window._paq || [];
      _paq.push(['trackGoal', "{{ PIWIK_EXTENSION_DEADLINE_PASSED_GOAL_ID }}"]);
   </script>
  
{% endblock %}