{% extends "layouts/default.njk" %}

{% set title = i18n.500_main_title %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ i18n.500_try_again_later }}</p>
    <p class="govuk-body">{{ i18n.500_when_available_start_again }}</p>
    <p class="govuk-body">{{ i18n.500_arrived_via_bad_url_1 }}<a class="govuk-link" data-event-id="contact-support-team-link" href="https://www.gov.uk/government/organisations/companies-house#org-contacts">{{ i18n.500_arrived_via_bad_url_2 }}</a>.</p>
{% endblock %}
