{# Extends the Companies House Page Template: https://github.com/companieshouse/ch-node-utils/blob/2.0.0/docs/page-template.md #}
{% extends "ch-node-utils/templates/layouts/template.njk" %}
{% import "ch-node-utils/templates/add-lang-to-url.njk" as lang2url %}
{% from "ch-node-utils/templates/navbar.njk" import addNavbar %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set mainContentId = "main-page-content" %}

{% block pageTitle %}{{ title }} - {{ i18n.service_name }}{% endblock %}

{% block head %}
  {{ super() }}
  {% include "partials/__meta_header.njk" %}
{% endblock %}


{% block skipLink %}
  {{ govukSkipLink({
    text: "Skip to main content",
    href: "#" + mainContentId
  }) }}
{% endblock %}

{% block header %}
  {% include "partials/__header.njk" %}
{% endblock %}

{% block bodyStart %}
  {# {% include "partials/cookie_consent_banner.njk" %} #}
{% endblock %}

{% block beforeContent %}
  {% include "partials/phase-banner.njk" %}
  {% include "partials/nav/top.njk" %}
  {% if backURL %}
    {{ govukBackLink({
    href: backURL + "?lang=" +lang,
    text: i18n.back
  }) }}
  {% endif %}
   {% include "ch-node-utils/templates/locales-banner.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-{{ gridColumnClass | default('two-thirds') }}" id="{{ mainContentId }}">
      {% include "partials/error_summary.njk" %}
      {% block main_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "partials/__footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% include "partials/__meta_footer.njk" %}
{% endblock %}
